.ms-icon-setting {
    -webkit-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -moz-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -ms-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -o-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');

    -webkit-mask-position: -675px -30px;
    -moz-mask-position: -675px -30px;
    -ms-mask-position: -675px -30px;
    -o-mask-position: -675px -30px;
    mask-position: -675px -30px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.ms-icon-pin {
    -webkit-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -moz-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -ms-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -o-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');

    -webkit-mask-position: -1770px -564px;
    -moz-mask-position: -1770px -564px;
    -ms-mask-position: -1770px -564px;
    -o-mask-position: -1770px -564px;
    mask-position: -1770px -564px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-drag {
    -webkit-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -moz-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -ms-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -o-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');

    -webkit-mask-position: -1037px -361px;
    -moz-mask-position: -1037px -361px;
    -ms-mask-position: -1037px -361px;
    -o-mask-position: -1037px -361px;
    mask-position: -1037px -361px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-home {
    -webkit-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -moz-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -ms-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -o-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');

    -webkit-mask-position: -30px -1628px;
    -moz-mask-position: -30px -1628px;
    -ms-mask-position: -30px -1628px;
    -o-mask-position: -30px -1628px;
    mask-position: -30px -1628px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-filter {
    -webkit-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -moz-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -ms-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -o-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');

    -webkit-mask-position: -1602px -91px;
    -moz-mask-position: -1602px -91px;
    -ms-mask-position: -1602px -91px;
    -o-mask-position: -1602px -91px;
    mask-position: -1602px -91px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-desc {
    -webkit-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -moz-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -ms-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -o-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');

    -webkit-mask-position: -1955px -408px;
    -moz-mask-position: -1955px -408px;
    -ms-mask-position: -1955px -408px;
    -o-mask-position: -1955px -408px;
    mask-position: -1955px -408px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.ms-icon-hourglass {
    -webkit-mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');
    -moz-mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');
    -ms-mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');
    -o-mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');
    mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');
    /* -webkit-mask-size: contain;
  mask-size: contain; */

    -webkit-mask-position: -130px -203px;
    -moz-mask-position: -130px -203px;
    -ms-mask-position: -130px -203px;
    -o-mask-position: -130px -203px;
    mask-position: -130px -203px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.ms-icon-checkcircle {
    -webkit-mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');
    -moz-mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');
    -ms-mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');
    -o-mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');
    mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');

    -webkit-mask-position: -130px -227px;
    -moz-mask-position: -130px -227px;
    -ms-mask-position: -130px -227px;
    -o-mask-position: -130px -227px;
    mask-position: -130px -227px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-pensquare {
    -webkit-mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');
    -moz-mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');
    -ms-mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');
    -o-mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');
    mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');

    -webkit-mask-position: -154px -227px;
    -moz-mask-position: -154px -227px;
    -ms-mask-position: -154px -227px;
    -o-mask-position: -154px -227px;
    mask-position: -154px -227px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-process {
    -webkit-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -moz-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -ms-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -o-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');

    -webkit-mask-position: -1432px -200px;
    -moz-mask-position: -1432px -200px;
    -ms-mask-position: -1432px -200px;
    -o-mask-position: -1432px -200px;
    mask-position: -1432px -200px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-report {
    -webkit-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -moz-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -ms-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -o-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');

    -webkit-mask-position: -250px -1585px;
    -moz-mask-position: -250px -1585px;
    -ms-mask-position: -250px -1585px;
    -o-mask-position: -250px -1585px;
    mask-position: -250px -1585px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-left {
    -webkit-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -moz-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -ms-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -o-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');

    -webkit-mask-position: -36px -409px;
    -moz-mask-position: -36px -409px;
    -ms-mask-position: -36px -409px;
    -o-mask-position: -36px -409px;
    mask-position: -36px -409px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-right {
    -webkit-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -moz-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -ms-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -o-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');

    -webkit-mask-position: -84px -409px;
    -moz-mask-position: -84px -409px;
    -ms-mask-position: -84px -409px;
    -o-mask-position: -84px -409px;
    mask-position: -84px -409px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-user {
    -webkit-mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');
    -moz-mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');
    -ms-mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');
    -o-mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');
    mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');

    -webkit-mask-position: -205px -310px;
    -moz-mask-position: -205px -310px;
    -ms-mask-position: -205px -310px;
    -o-mask-position: -205px -310px;
    mask-position: -205px -310px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.ms-icon-position {
    -webkit-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -moz-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -ms-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -o-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');

    -webkit-mask-position: -591px -1586px;
    -moz-mask-position: -591px -1586px;
    -ms-mask-position: -591px -1586px;
    -o-mask-position: -591px -1586px;
    mask-position: -591px -1586px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-users {
    -webkit-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -moz-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -ms-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -o-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');

    -webkit-mask-position: -984px -200px;
    -moz-mask-position: -984px -200px;
    -ms-mask-position: -984px -200px;
    -o-mask-position: -984px -200px;
    mask-position: -984px -200px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-profile {
    -webkit-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -moz-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -ms-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -o-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');

    -webkit-mask-position: -928px -200px;
    -moz-mask-position: -928px -200px;
    -ms-mask-position: -928px -200px;
    -o-mask-position: -928px -200px;
    mask-position: -928px -200px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-toggle {
    -webkit-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -moz-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -ms-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -o-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');

    -webkit-mask-position: -428px -92px;
    -moz-mask-position: -428px -92px;
    -ms-mask-position: -428px -92px;
    -o-mask-position: -428px -92px;
    mask-position: -428px -92px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-product {
    -webkit-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -moz-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -ms-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -o-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');

    -webkit-mask-position: -291px -1587px;
    -moz-mask-position: -291px -1587px;
    -ms-mask-position: -291px -1587px;
    -o-mask-position: -291px -1587px;
    mask-position: -291px -1587px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-reset {
    -webkit-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -moz-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -ms-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -o-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');

    -webkit-mask-position: -1098px -90px;
    -moz-mask-position: -1098px -90px;
    -ms-mask-position: -1098px -90px;
    -o-mask-position: -1098px -90px;
    mask-position: -1098px -90px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-down {
    -webkit-mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');
    -moz-mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');
    -ms-mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');
    -o-mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');
    mask-image: url('https://amisplatform.misacdn.net/apps/process/img/icon_sprint.b992e236.svg');

    -webkit-mask-position: -360px -1px;
    -moz-mask-position: -360px -1px;
    -ms-mask-position: -360px -1px;
    -o-mask-position: -360px -1px;
    mask-position: -360px -1px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-dotdotdot {
    -webkit-mask-image: url('https://amisplatform.misacdn.net/apps/task/assets/images/ICON.svg?v=20230512');
    -moz-mask-image: url('https://amisplatform.misacdn.net/apps/task/assets/images/ICON.svg?v=20230512');
    -ms-mask-image: url('https://amisplatform.misacdn.net/apps/task/assets/images/ICON.svg?v=20230512');
    -o-mask-image: url('https://amisplatform.misacdn.net/apps/task/assets/images/ICON.svg?v=20230512');
    mask-image: url('https://amisplatform.misacdn.net/apps/task/assets/images/ICON.svg?v=20230512');

    -webkit-mask-position: -356px -36px;
    -moz-mask-position: -356px -36px;
    -ms-mask-position: -356px -36px;
    -o-mask-position: -356px -36px;
    mask-position: -356px -36px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-close {
    -webkit-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -moz-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -ms-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -o-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -webkit-mask-position: -1177px -360px;
    -moz-mask-position: -1177px -360px;
    -ms-mask-position: -1177px -360px;
    -o-mask-position: -1177px -360px;
    mask-position: -1177px -360px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-close-small {
    -webkit-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -moz-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -ms-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -o-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -webkit-mask-position: -83px -316px;
    -moz-mask-position: -83px -316px;
    -ms-mask-position: -83px -316px;
    -o-mask-position: -83px -316px;
    mask-position: -83px -316px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-close--big {
    -webkit-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -moz-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -ms-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -o-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -webkit-mask-position: -146px -146px;
    -moz-mask-position: -146px -146px;
    -ms-mask-position: -146px -146px;
    -o-mask-position: -146px -146px;
    mask-position: -146px -146px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-down-triagle {
    -webkit-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -moz-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -ms-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -o-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');

    -webkit-mask-position: -1756px -315px;
    -moz-mask-position: -1756px -315px;
    -ms-mask-position: -1756px -315px;
    -o-mask-position: -1756px -315px;
    mask-position: -1756px -315px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-pen {
    -webkit-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -moz-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -ms-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -o-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');

    -webkit-mask-position: -1656px -88px;
    -moz-mask-position: -1656px -88px;
    -ms-mask-position: -1656px -88px;
    -o-mask-position: -1656px -88px;
    mask-position: -1656px -88px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-menu {
    -webkit-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -moz-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -ms-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -o-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');

    -webkit-mask-position: -845px -30px;
    -moz-mask-position: -845px -30px;
    -ms-mask-position: -845px -30px;
    -o-mask-position: -845px -30px;
    mask-position: -845px -30px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-excel {
    -webkit-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -moz-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -ms-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    -o-mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');
    mask-image: url('../../../assets/icons/Sprites.64af8f61.svg');

    -webkit-mask-position: -705px -256px;
    -moz-mask-position: -705px -256px;
    -ms-mask-position: -705px -256px;
    -o-mask-position: -705px -256px;
    mask-position: -705px -256px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-plus {
    -webkit-mask-image: url('../../../assets/icons/common-icon.png');
    -moz-mask-image: url('../../../assets/icons/common-icon.png');
    -ms-mask-image: url('../../../assets/icons/common-icon.png');
    -o-mask-image: url('../../../assets/icons/common-icon.png');
    mask-image: url('../../../assets/icons/common-icon.png');
    // 11 10
    -webkit-mask-position: -4px -130px;
    -moz-mask-position: -4px -130px;
    -ms-mask-position: -4px -130px;
    -o-mask-position: -4px -130px;
    mask-position: -4px -130px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-replication {
    -webkit-mask-image: url('../../../assets/icons/common-icon.png');
    -moz-mask-image: url('../../../assets/icons/common-icon.png');
    -ms-mask-image: url('../../../assets/icons/common-icon.png');
    -o-mask-image: url('../../../assets/icons/common-icon.png');
    mask-image: url('../../../assets/icons/common-icon.png');
    // 15 15
    -webkit-mask-position: -978px -127px;
    -moz-mask-position: -978px -127px;
    -ms-mask-position: -978px -127px;
    -o-mask-position: -978px -127px;
    mask-position: -978px -127px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-edit {
    -webkit-mask-image: url('../../../assets/icons/common-icon.png');
    -moz-mask-image: url('../../../assets/icons/common-icon.png');
    -ms-mask-image: url('../../../assets/icons/common-icon.png');
    -o-mask-image: url('../../../assets/icons/common-icon.png');
    mask-image: url('../../../assets/icons/common-icon.png');
    // 12 12
    -webkit-mask-position: -1454px -129px;
    -moz-mask-position: -1454px -129px;
    -ms-mask-position: -1454px -129px;
    -o-mask-position: -1454px -129px;
    mask-position: -1454px -129px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-delete {
    -webkit-mask-image: url('../../../assets/icons/common-icon.png');
    -moz-mask-image: url('../../../assets/icons/common-icon.png');
    -ms-mask-image: url('../../../assets/icons/common-icon.png');
    -o-mask-image: url('../../../assets/icons/common-icon.png');
    mask-image: url('../../../assets/icons/common-icon.png');
    // 10 12
    -webkit-mask-position: -1080px -129px;
    -moz-mask-position: -1080px -129px;
    -ms-mask-position: -1080px -129px;
    -o-mask-position: -1080px -129px;
    mask-position: -1080px -129px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-delete-table {
    -webkit-mask-image: url('../../../assets/icons/common-icon.png');
    -moz-mask-image: url('../../../assets/icons/common-icon.png');
    -ms-mask-image: url('../../../assets/icons/common-icon.png');
    -o-mask-image: url('../../../assets/icons/common-icon.png');
    mask-image: url('../../../assets/icons/common-icon.png');
    // 11 14
    -webkit-mask-position: -4px -28px;
    -moz-mask-position: -4px -28px;
    -ms-mask-position: -4px -28px;
    -o-mask-position: -4px -28px;
    mask-position: -4px -28px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-reset2 {
    -webkit-mask-image: url('../../../assets/icons/common-icon.png');
    -moz-mask-image: url('../../../assets/icons/common-icon.png');
    -ms-mask-image: url('../../../assets/icons/common-icon.png');
    -o-mask-image: url('../../../assets/icons/common-icon.png');
    mask-image: url('../../../assets/icons/common-icon.png');
    // 10 14
    -webkit-mask-position: -880px -128px;
    -moz-mask-position: -880px -128px;
    -ms-mask-position: -880px -128px;
    -o-mask-position: -880px -128px;
    mask-position: -880px -128px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-barcode {
    -webkit-mask-image: url('../../../assets/icons/common-icon.png');
    -moz-mask-image: url('../../../assets/icons/common-icon.png');
    -ms-mask-image: url('../../../assets/icons/common-icon.png');
    -o-mask-image: url('../../../assets/icons/common-icon.png');
    mask-image: url('../../../assets/icons/common-icon.png');
    // 13 12
    -webkit-mask-position: -54px -129px;
    -moz-mask-position: -54px -129px;
    -ms-mask-position: -54px -129px;
    -o-mask-position: -54px -129px;
    mask-position: -54px -129px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-save {
    -webkit-mask-image: url('../../../assets/icons/common-icon.png');
    -moz-mask-image: url('../../../assets/icons/common-icon.png');
    -ms-mask-image: url('../../../assets/icons/common-icon.png');
    -o-mask-image: url('../../../assets/icons/common-icon.png');
    mask-image: url('../../../assets/icons/common-icon.png');
    // 11 11
    -webkit-mask-position: -330px -129px;
    -moz-mask-position: -330px -129px;
    -ms-mask-position: -330px -129px;
    -o-mask-position: -330px -129px;
    mask-position: -330px -129px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-close-eshop {
    -webkit-mask-image: url('../../../assets/icons/common-icon.png');
    -moz-mask-image: url('../../../assets/icons/common-icon.png');
    -ms-mask-image: url('../../../assets/icons/common-icon.png');
    -o-mask-image: url('../../../assets/icons/common-icon.png');
    mask-image: url('../../../assets/icons/common-icon.png');
    // 11 11
    -webkit-mask-position: -280px -130px;
    -moz-mask-position: -280px -130px;
    -ms-mask-position: -280px -130px;
    -o-mask-position: -280px -130px;
    mask-position: -280px -130px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-setting2 {
    -webkit-mask-image: url('../../../assets/icons/common-icon.png');
    -moz-mask-image: url('../../../assets/icons/common-icon.png');
    -ms-mask-image: url('../../../assets/icons/common-icon.png');
    -o-mask-image: url('../../../assets/icons/common-icon.png');
    mask-image: url('../../../assets/icons/common-icon.png');
    // 17 15
    -webkit-mask-position: -527px -128px;
    -moz-mask-position: -527px -128px;
    -ms-mask-position: -527px -128px;
    -o-mask-position: -527px -128px;
    mask-position: -527px -128px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-export2 {
    -webkit-mask-image: url('../../../assets/icons/common-icon.png');
    -moz-mask-image: url('../../../assets/icons/common-icon.png');
    -ms-mask-image: url('../../../assets/icons/common-icon.png');
    -o-mask-image: url('../../../assets/icons/common-icon.png');
    mask-image: url('../../../assets/icons/common-icon.png');
    // 16 10
    -webkit-mask-position: -127px -130px;
    -moz-mask-position: -127px -130px;
    -ms-mask-position: -127px -130px;
    -o-mask-position: -127px -130px;
    mask-position: -127px -130px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-prev2 {
    -webkit-mask-image: url('../../../assets/icons/common-icon.png');
    -moz-mask-image: url('../../../assets/icons/common-icon.png');
    -ms-mask-image: url('../../../assets/icons/common-icon.png');
    -o-mask-image: url('../../../assets/icons/common-icon.png');
    mask-image: url('../../../assets/icons/common-icon.png');
    // 16 10
    -webkit-mask-position: -656px -131px;
    -moz-mask-position: -656px -131px;
    -ms-mask-position: -656px -131px;
    -o-mask-position: -656px -131px;
    mask-position: -656px -131px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-prev {
    -webkit-mask-image: url('../../../assets/icons/common-icon.png');
    -moz-mask-image: url('../../../assets/icons/common-icon.png');
    -ms-mask-image: url('../../../assets/icons/common-icon.png');
    -o-mask-image: url('../../../assets/icons/common-icon.png');
    mask-image: url('../../../assets/icons/common-icon.png');
    // 16 10
    -webkit-mask-position: -733px -131px;
    -moz-mask-position: -733px -131px;
    -ms-mask-position: -733px -131px;
    -o-mask-position: -733px -131px;
    mask-position: -733px -131px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-next {
    -webkit-mask-image: url('../../../assets/icons/common-icon.png');
    -moz-mask-image: url('../../../assets/icons/common-icon.png');
    -ms-mask-image: url('../../../assets/icons/common-icon.png');
    -o-mask-image: url('../../../assets/icons/common-icon.png');
    mask-image: url('../../../assets/icons/common-icon.png');
    // 16 10
    -webkit-mask-position: -783px -131px;
    -moz-mask-position: -783px -131px;
    -ms-mask-position: -783px -131px;
    -o-mask-position: -783px -131px;
    mask-position: -783px -131px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-next2 {
    -webkit-mask-image: url('../../../assets/icons/common-icon.png');
    -moz-mask-image: url('../../../assets/icons/common-icon.png');
    -ms-mask-image: url('../../../assets/icons/common-icon.png');
    -o-mask-image: url('../../../assets/icons/common-icon.png');
    mask-image: url('../../../assets/icons/common-icon.png');
    // 16 10
    -webkit-mask-position: -806px -131px;
    -moz-mask-position: -806px -131px;
    -ms-mask-position: -806px -131px;
    -o-mask-position: -806px -131px;
    mask-position: -806px -131px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-flag-vn {
    background: url('../../../assets/icons/Sprites.64af8f61.svg') no-repeat -1648px -262px;
}
.ms-icon-flag-en {
    background: url('../../../assets/icons/Sprites.64af8f61.svg') no-repeat -1688px -262px;
}

.ms-icon-danger {
    background: url('../../../assets/icons/Sprites.64af8f61.svg') no-repeat -536px -144px;
    /* -webkit-mask-position: -536px -144px;
    -moz-mask-position: -536px -144px;
    -ms-mask-position: -536px -144px;
    -o-mask-position: -536px -144px;
    mask-position: -536px -144px; */
}
.ms-icon-question-dialog {
    background: url('../../../assets/icons/icon-popup.webp') no-repeat -169px -3px;
    //36 36
}
.ms-icon-warning {
    background: url('../../../assets/icons/icon-popup.webp') no-repeat -57px -4px;
}
.ms-icon-error-big {
    background: url('../../../assets/icons/icon-popup.webp') no-repeat -114px -3px;
}
.ms-icon-success {
    background: url('../../../assets/icons/Sprites.64af8f61.svg') no-repeat -1600px -256px;
}
.ms-icon-error {
    background: url('../../../assets/icons/Sprites.64af8f61.svg') no-repeat -536px -144px;
}
.ms-icon-info {
    background: url('../../../assets/icons/Sprites.64af8f61.svg') no-repeat -670px -460px;
}
.ms-icon-message {
    -webkit-mask-image: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/messenger.svg');
    mask-image: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/messenger.svg');
    -webkit-mask-position: contain;
    mask-position: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-bell {
    -webkit-mask-image: url('../../../assets/icons/bell.webp');
    mask-image: url('../../../assets/icons/bell.webp');
    -webkit-mask-position: contain;
    mask-position: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-question {
    -webkit-mask-image: url('../../../assets/icons/question.webp');
    mask-image: url('../../../assets/icons/question.webp');
    -webkit-mask-position: contain;
    mask-position: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.ms-icon-check {
    -webkit-mask-image: url('../../../assets/icons/blue-check.svg');
    mask-image: url('../../../assets/icons/blue-check.svg');
    -webkit-mask-position: contain;
    mask-position: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.wrapper-svg {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    .circle-svg {
        width: 20px;
        height: 20px;
        animation: rotate 1.5s linear infinite;
        circle {
            width: 100%;
            height: 100%;
            fill: none;
            stroke-width: 2;
            stroke: var(--green-color5);
            stroke-linecap: round;
            stroke-dasharray: 37;
            stroke-dashoffset: 37;
            animation: animate 3s linear infinite;
        }
        @keyframes rotate {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        @keyframes animate {
            0%,
            100% {
                stroke-dashoffset: 37;
            }
            50% {
                stroke-dashoffset: 0;
            }
            50.1% {
                stroke-dashoffset: 78;
            }
        }
    }
}
/* -147px -147px */
.ms-icon {
    background-color: #686c7b;
    height: 24px;
    width: 24px;
}
.active .ms-icon {
    // background-color: var(--primary-color) !important;
}

.sidebar .ms-icon {
    background-color: var(--text-primary-color-white);
    height: 24px;
    width: 24px;
}
.sidebar .active .ms-icon {
    background-color: #fff !important;
}
